
  .standard-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-fields {
    display: flex;
    flex-direction: column;
  }

  .form-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .form-buttons-link {
   font-size: smaller;
  }