@use '@angular/material' as mat;

.mat-mdc-table {
    margin-right: 16px;
    border-radius: 10px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--secondary-color-light) !important;
    box-sizing: border-box  !important;
    @include mat.elevation(0);

    th:only-child {
        border-radius: 10px 10px 0 0 !important;
    }
    th:first-child {
        border-radius: 10px 0 0 0 !important;
    }
    th:last-child {
        border-radius: 0 10px 0 0 !important;
    }

}

.mat-mdc-header-cell {
    border-color: var(--secondary-color-light) !important;  
    background-color: var(--secondary-color-light) !important;
}

.mat-mdc-header-row {
    color: var(--text-color-dark) !important;
    border-radius: 10px !important;
    box-sizing: border-box !important;

}  

.mat-mdc-row {
    border-color: var(--secondary-color-light) !important;  
    background-color: var(--background-color-light) !important;
    color: var(--text-color-dark) !important;
    .row-hover-highlight {
        cursor: pointer;
        background-color: var(--secondary-color-light) !important;
    }
    .row-select-highlight {
        cursor: pointer;
        background-color: var(--secondary-color-light) !important;
    }

}