@use '@angular/material' as mat;

.mat-mdc-table {
    margin-right: 16px;
    border-radius: 10px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--primary-color-light) !important;
    box-sizing: border-box  !important;
    @include mat.elevation(0);

    th:first-child {
        border-radius: 10px 0 0 0 !important;
    }
    th:last-child {
        border-radius: 0 10px 0 0 !important;
    }
   
}

.mat-mdc-header-row {
    background-color:var(--secondary-color-light) !important;
    border-radius: 10px !important;
    box-sizing: border-box !important;
}  