:root {

   --primary-color: var(--primary-color--light-theme);
   --primary-color-light: var(--primary-color-light--light-theme);
   --primary-color-dark: var(--primary-color-dark--light-theme);

   --secondary-color: var(--secondary-color--light-theme); 
   --secondary-color-light: var(--secondary-color-light--light-theme); 
   --secondary-color-dark: var(--secondary-color-dark--light-theme);

   --background-color-light: var(--background-color-light--light-theme);
   --background-color-dark: var(--background-color-dark--light-theme);

   --text-color-light: var(--text-color-light--light-theme);
   --text-color-dark: var(--text-color---light-theme);

   // Default colors

   --default-dark: hsl(0, 0%, 17%);
   --default-light: hsl(0, 0%, 98%);


   // Light theme

   --primary-color--light-theme:  hsl(279, 22%, 44%);
   --primary-color-light--light-theme: #e0e0e0;
   --primary-color-dark--light-theme: #33253a;

   --secondary-color--light-theme: hsl(29, 15%, 54%);
   --secondary-color-light--light-theme: #f4f2f0;
   --secondary-color-dark--light-theme: hsl(29, 15%, 20%);

   --background-color-light--light-theme:  var(--default-light);
   --background-color-dark--light-theme:  var(--default-dark);

   --text-color-light--light-theme: var(--default-light);
   --text-color-dark--light-theme: var(--default-dark);

   // Dark theme

   --primary-color--dark-theme:  #785889;
   --primary-color-light--dark-theme: #e0e0e0;
   --primary-color-dark--dark-theme: #33253a;

   --secondary-color--dark-theme: #9b8978;
   --secondary-color--light--dark-theme: #f4f2f0;
   --secondary-color-dark--dark-theme: #f4f2f0;
   
   --background-color-light--dark-theme: var(--default-light);
   --background-color-dark--dark-theme:  var(--default-dark);

   --text-color-light--dark-theme: var(--default-light);
   --text-color-dark--dark-theme: var(--default-dark);

}