:root {

   --primary-color:  #785889;
   --primary-color-light: #e0e0e0;
   --primary-color-dark: #33253a;

   --secondary-color: #9b8978; 
   --secondary-color-dark: #48261a;

   --background-color-light:  #fafafa;

   --text-color: #2c2c2c;
}