<ng-template #content>
  <mat-card id="alpaca-card" (click)="navigateToDetails(alpaca)" style="cursor: pointer;">
    <mat-card-header>
      <mat-card-title>
        <h3>{{ alpaca.shortName }}</h3>
      </mat-card-title>
        <div class="alpaca-fullname">{{alpaca.longName}}</div>
    </mat-card-header>
    <mat-card-content>
      <img loading="lazy" src="{{alpacaMainImageUrl}}{{alpaca.mainImage.name}}" alt="{{alpaca.longName}}" class="alpaca-image"/>
      <div class="card-body">
        <table>
          <tr>
            <td>Soort:</td>
            <td>{{ alpaca.breed }}</td>
          </tr>
          <tr>
            <td>Geslacht:</td>
            <td>{{ alpaca.gender }}</td>
          </tr>
          <tr>
            <td>Kleur:</td>
            <td>{{ alpaca.color }}</td>
          </tr>
          <tr>
            <td>Geboortedatum:</td>
            <td>{{ alpaca.dateOfBirth | date: 'dd-MM-yyyy' }}</td>
          </tr>
          <tr>
            <td>Vader:</td>
            <td>
              <div *ngIf="alpaca.sire">{{ alpaca.sire.longName }}</div>
              <div *ngIf="alpaca.sireName">{{ alpaca.sireName }}</div>
            </td>
          </tr>
          <tr>
            <td>Moeder:</td>
            <td>
              <div *ngIf="alpaca.dam">{{ alpaca.dam.longName }}</div>
              <div *ngIf="alpaca.damName">{{ alpaca.damName }}</div>
            </td>
          </tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="extra-info">
        <div *ngIf="alpaca.category === 'Dekhengsten'">Dekgeld: {{alpaca.studFee | currency}} excl. 21% btw</div>
        <div *ngIf="alpaca.status === 'Te koop'">Te koop: {{alpaca.sellPrice | currency}} excl. 21% btw</div>
      </div>
      <button class="icon-button" mat-button (click)="navigateToDetails(alpaca)">
        Lees meer  <mat-icon>double_arrow</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>  

<ng-container *ngIf="isLoading$ | async as loader; else content">
  <app-spinner></app-spinner>
</ng-container>