<H1>Links</H1>
<app-http-loader [componentId]="componentId">
  <ng-container *ngIf="groupedLinks$ | async as groupedLinks">
    <div *ngFor="let linkType of groupedLinks | keyvalue">
      <h2>{{ linkType.key }}</h2>
      <div *ngFor="let link of linkType.value">
        <mat-card (click)="navigateTo(link)" style="cursor: pointer">
          <mat-card-header>
            <mat-card-title>
              <h3>{{ link.title }}</h3>
            </mat-card-title>
            <div class="link-type">{{ linkType.key }}</div>
          </mat-card-header>
          <mat-card-content>
            <img
              src="{{ linkImagesUrl }}{{ link.imageName }}"
              alt="{{ link.title }}"
              class="link-image"
            />
            <div class="link-body" [innerHTML]="link.body"></div>
          </mat-card-content>
          <mat-card-actions>
            <button
              class="icon-button"
              mat-raised-button
              (click)="navigateTo(link)"
            >
              Naar website <mat-icon>double_arrow</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
</app-http-loader>
