#main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 33px;
  left: 20px;
  position: relative;
  top: 157px;
  width: 798px;
  overflow: hidden;
}

.menu-button {
  color: var(--secondary-color-dark) !important;
  font-size: 1.1em;
}

::ng-deep .mat-mdc-menu-panel {
  background-color: var(--background-color-light) !important;
  border-radius: 5px !important;
  border: 0.5px solid var(--primary-color-light);
  position: relative;
  top: 5px;
}

.mat-mdc-menu-item:hover {
  background-color: var(--secondary-color-light) !important;
}

.menu-divider {
  color: var(--secondary-color-dark);
  font-size: 1.2em;
}
