mat-card-actions {
    display: flex; 
    justify-content: right; 
    align-items: center;
    color: var(--secondary-color);
}

mat-card-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.infopage-category {
    color: var(--secondary-color);
}

.link-image {
  width: 200px;
  min-width: 200px;
}

.card-body {
    padding: 10px;
}

img {
   width: 200px;
}
