<h1>{{ alpaca.shortName }}</h1>
<app-http-loader>
    <div><h2>{{ alpaca.longName }}</h2></div>
    <div class="alpaca-header">
        <img loading="lazy" src="{{alpacaMainImageUrl}}{{alpaca.mainImage.name}}" alt="{{alpaca.longName}}" class="alpaca-main-image"/>
        <div class="header-text">
        <table>
            <tr>
            <td>Soort:</td>
            <td>{{ alpaca.breed }}</td>
            </tr>
            <tr>
            <td>Geslacht:</td>
            <td>{{ alpaca.gender }}</td>
            </tr>
            <tr>
            <td>Kleur:</td>
            <td>{{ alpaca.color }}</td>
            </tr>
            <tr>
            <td>Geboortedatum:</td>
            <td>{{ alpaca.dateOfBirth | date: 'dd-MM-yyyy' }}</td>
            </tr>
            <tr>
            <td>Vader:</td>
            <td>
                <div *ngIf="alpaca.sire">
                    <a (click)="navigateToDetails(alpaca.sire)" 
                    (keydown)="navigateToDetails(alpaca.sire)" 
                    tabindex="0" 
                    style="cursor: pointer;">{{ alpaca.sire.longName }}</a></div>
                <div *ngIf="alpaca.sireName">{{ alpaca.sireName }}</div>
            </td>
            </tr>
            <tr>
            <td>Moeder:</td>
            <td>
                <div *ngIf="alpaca.dam">
                    <a (click)="navigateToDetails(alpaca.dam)" 
                    (keydown)="navigateToDetails(alpaca.dam)" 
                    tabindex="0" 
                    style="cursor: pointer;">{{ alpaca.dam.longName }}</a></div>
                <div *ngIf="alpaca.damName">{{ alpaca.damName }}</div>
            </td>
            </tr>
            <tr *ngIf="alpaca.pedigree">
                <td>Stamboom:</td>
                <td>
                <a [href]="alpacaPedigreeUrl+alpaca.pedigree.name" target="_blank">Pdf stamboom {{ alpaca.shortName }}</a>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <div *ngIf="alpaca.category === 'Dekhengsten'" class="alpaca-detail-dekhengst">
        <h2>Dekkingen</h2>
        Deze hengst is beschikbaar voor externe dekkingen en drive-by dekkingen.<p>
        Dekgeld: {{alpaca.studFee | currency}} excl. 21% btw en excl. evt. reiskosten.
    </div>
    <div *ngIf="alpaca.status === 'Te koop'" class="alpaca-detail-tekoop">
        @if (alpaca.sellPrice > 0) {
        <h2>Te koop</h2>
        {{alpaca.sellPrice | currency}} excl. 21% btw.
        }
        @else {
        <h2>Te koop</h2>
        Prijs op aanvraag.
        }
    </div>    
    <h2>Beschrijving</h2>
    <p><div [innerHTML]="getSafeHtml(alpaca.description)"></div>
    <div>
        <app-alpaca-showresults [alpaca]="alpaca"></app-alpaca-showresults>
    </div>
    <div *ngIf="alpaca.fleeceresults && alpaca.fleeceresults.length > 0">
        <h2>Fleeceresultaten</h2>
        <app-alpaca-fleeceresults [alpaca]="alpaca"></app-alpaca-fleeceresults>
    </div>
    <div *ngIf="alpaca.offspring && alpaca.offspring.length > 0">
        <h2>Nakomelingen</h2>
        <div *ngFor="let cria of alpaca.offspring">
            <app-alpaca-offspring-card [alpaca]="cria.alpaca"></app-alpaca-offspring-card>
        </div>
    </div>
    <div *ngIf="alpaca.images && alpaca.images.length > 0">
        <h2>Foto's</h2>
        <div *ngFor="let image of alpaca.images">
            <img loading="lazy" src="{{alpacaImagesUrl}}{{image.name}}" alt="{{alpaca.longName}}" class="alpaca-image"/>
        </div>
    </div>
</app-http-loader>