.alpaca-header {
    display: flex; 
    justify-content: left;
    align-items: center; 
}

.label {
    padding-right: 10px;
}

.alpaca-longName {
    color: var(--secondary-color);
}

img.alpaca-main-image{
    object-fit: cover;
    width: 175px;
    height: 175px;
}

.alpaca-image {
    max-width: 630px;
} 

.header-text {
    margin-left: 20px;
}