#logo {
  position: absolute;
  height: 120px;
  top: 25px;
  margin-left: 40px;
}

#themetoggle {
  position: fixed;
  left: 420px;
  top: 0px;
}

#headertext {
  position: fixed;
  left: 469px;
  top:2px;
  color: #fff;
  font-size: 0.85em;

}

app-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 33px;
  left: 75px;
  position: absolute;
  top: 176px;
  width: 798px;
  overflow: hidden;
}

app-usermenu {
  margin-left: 350px;
  position: absolute;
  top: 50px;
  width: 920px;
}

.environment {
  margin-left: 15px;
  position: absolute;
  top: 10px;
  width: 920px;
}