#logo {
  position: absolute;
  height: 120px;
  top: 25px;
  margin-left: 40px;
}

#themetoggle {
  position: fixed;
  left: 420px;
  top: 0px;
}

#headertext {
  position: relative;
  left: 410px;
  top:2px;
  color: var(--text-color-light);
  font-size: 0.85em;

}

.environment {
  margin-left: 15px;
  position: absolute;
  top: 10px;
  width: 920px;
}