<div id="file-upload" class="file-upload">
  <div class="existing-documents">
    @if (documents && documents.length > 0) {
    <div class="existing-documents-header">
      {{ documents.length === 1 ? 'Huidige file' : 'Huidige files' }}
    </div>
    <div class="existing-documents-body">
        @for (currentFile of documents; track currentFile.id) {
        <div class="document">
          <img src="{{currentFile.url}}" alt="{{ currentFile.name }}" />
        </div>
        <div class="document-actions">
          <button mat-raised-button type="button" class="button-warning-action" (click)="onExistingDocumentRemove(currentFile.id)">
            Verwijder
          </button>
        </div>
        }
    </div>
    } 
  </div>
  <div class="file-upload-preview">
    @if (filePreviews && filePreviews.length > 0) {
      <div class="file-upload-preview-header">
        Preview nieuwe file
      </div>
      <div class="file-upload-preview-body">
        @for (filePreview of filePreviews; track filePreview.file.name; let index = $index) {
        <div class="file-preview">
          <img src="{{filePreview.url}}" alt="{{filePreview.file.name}}" />
        </div>
        <div class="file-preview-actions">
          @if (!multipleFiles || filePreviews.length === 1) {
            <button mat-raised-button type="button" class="button-primary-action" (click)="onDocumentUpload()">
              Upload
            </button>
          }
          <button mat-raised-button type="button" class="button-warning-action" (click)="onPreviewFileRemove(index)">
            Verwijder
          </button>
        </div>
        }
      </div>
      @if (multipleFiles && filePreviews.length > 1 ) {
        <div class="file-upload-footer">
          <button mat-raised-button type="button" class="button-primary-action" (click)="onDocumentsUpload()">
            Upload alle files
          </button>
        </div>
      }  
    }
    <div class="file-upload">
      <div class="file-upload-header">
        {{ multipleFiles ? 'Upload files' : 'Upload file' }}
        {{ fileRequired ? '*' : '' }}
      </div>
      <div class="file-upload-body">
        <div class="uploadsection">
          <input 
            id="file-upload-input" 
            class="file-upload-input"
            type="file"
            [multiple]="multipleFiles"
            (change)="onFileChange($event)"     
            />
        </div>
      </div>
  </div>
</div>
