<div id="file-upload" class="file-upload">
  <div class="existing-documents">
    @if (currentFiles && currentFiles.length > 0) {
    <div class="existing-documents-header">
      Huidige documenten
    </div>
    <div class="existing-documents-body">
        @for (currentFile of currentFiles; track currentFile.id) {
        <div class="document">
          <img src="{{currentFile.url}}" alt="{{ currentFile.name }}" />
        </div>
        <div class="document-actions">
          <button mat-raised-button type="button" color="warn" (click)="onExistingDocumentRemove(currentFile.id)">
            Verwijder
          </button>
        </div>
        }
    </div>
    } 
  </div>
  <div class="file-upload-header">
    {{ multipleFiles ? 'Upload files' : 'Upload file' }}
    {{ isUploadrequired() ? '*' : '' }}
  </div>
  <div class="file-upload-body">
    <div class="uploadsection">
      <input 
        id="file-upload-input" 
        class="file-upload-input"
        type="file"
        [multiple]="multipleFiles"
        (change)="onFileChange($event)"     
        />
    </div>
  </div>
  <div class="file-upload-preview">
    @if (addedFiles && addedFiles.length > 0) {
      <div class="file-upload-preview-header">
        Preview
      </div>
      <div class="file-upload-preview-body">
        @for (newfiles of addedFiles; track newfiles.file.name; let index = $index) {
        <div class="file-preview">
          <img src="{{newfiles.url}}" alt="{{newfiles.file.name}}" />
        </div>
        <div class="file-preview-actions">
          <button mat-raised-button type="button" color="warn" (click)="onPreviewFileRemove(index)">
            Verwijder
          </button>
        </div>
        }
      </div>
    }
</div>
