<H1 *ngIf="title !== ''">{{ title }}</H1>
<app-http-loader>
  <ng-container *ngIf="filteredAlpacas">    
    <div *ngIf="filteredAlpacas.length === 0">
      <p>{{noResultsMessage}}</p>
    </div>
    <div *ngFor="let alpaca of filteredAlpacas">
        <div *ngIf="cardListType === 'alpaca'">
        <app-alpaca-card [alpaca]="alpaca"></app-alpaca-card>
        </div>
        <div *ngIf="cardListType === 'crias'">
          <app-alpaca-card [alpaca]="alpaca"></app-alpaca-card>
        </div>
    </div>
  </ng-container>
</app-http-loader>