@use './assets/scss/material';
@use './assets/scss/variables';
@use './assets/scss/forms';
@use './assets//scss//snackbar';
@use './assets/scss/tables';
@use './assets/scss/cards';
@use './assets/scss/buttons';

@font-face {
    font-family: 'France Plain';
    src: url('./assets/font/FrancePlain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html, body { 
    height: 100%; 
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

body { 
    margin: 0; 
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    color: var(--text-color-dark);
    background-color: var(--body-color);
}

h1, h2, h3 {
    font-weight: 400;
    padding-bottom: 5px;
}

h1 {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color-light);
    font-family: "France Plain";
  //  letter-spacing: 1px;
}

h2 {
    color: var(--secondary-color);
    font-family: "France Plain";
    margin-top: 10px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

hr {
    border-bottom: 1px var(--primary-color-light);
}

a {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color-light);
    &:hover {
        color: var(--primary-color-dark);
    }
}

#app-container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 490px;

    background: url(/assets/images/liggende-alpaca.svg) transparent no-repeat;
    background-position-y: -239px;
    background-position-x: -52px;
}

#main-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar-section {
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 15px;
    padding: 10px;
    width: 200px;
    min-height: 500px;
    background-color: var(--secondary-color-light);
    border: 1px solid var(--secondary-color-light);
    h2 {
        margin-top: 10px;
        border-bottom: 1px solid var(--primary-color-light);
    }
    li {
        line-height: 1.2;  
    }
    img {
        width: 200px;
        height: auto;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#content-section {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 80px;
    width: 630px;
    h1 {
        margin-top: 10px;
    }
    img {
        max-width: 100%;
        border-radius: 10px;
    }
}




    