<h2>Over alpaca's</h2>
<ng-template #content>
    <ng-container *ngIf="groupedInfopages$ | async as groupedInfopages">
        <div *ngFor="let infoCat of (groupedInfopages | keyvalue)">
            <h3>{{ infoCat.key }}</h3>
            <ul>
            <div class="sidebar-link" *ngFor="let info of infoCat.value">
                <li>
                    <a [routerLink]="['/info/detail/', info.id]">{{info.title}}</a>
                </li>
            </div>
            </ul>
        </div>
    </ng-container>
</ng-template>

<ng-container *ngIf="isLoading$ | async as loader; else content">
    <app-spinner></app-spinner>
  </ng-container>