mat-card-actions {
    display: flex; 
    justify-content: right; 
    align-items: center;
}

mat-card-content {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    font-size: 14px;
}

.icon-button {
    display: flex; 
    justify-content: space-between;
}

.alpaca-shortname {
    font-size: 14px;
    font-weight: 500;
}

.alpaca-fullname {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }

td.label {
    padding-right: 10px;
}
