<H2>Admin menu</H2>
<nav class="admin-menu">
  <H3>Alpacas</H3>
  <a mat-menu-item routerLink="/admin/alpacas" routerLinkActive="active-link">Alpacas</a>
  <a mat-menu-item routerLink="/admin/alpacafleeces" routerLinkActive="active-link">Alpaca fleeces</a>
  <a mat-menu-item routerLink="/admin/alpacashowresults" routerLinkActive="active-link">Alpaca showresults</a>
  <a mat-menu-item routerLink="/admin/alpacashows" routerLinkActive="active-link">Alpacashows</a>
  <h3>Links</h3>
  <a mat-menu-item routerLink="/admin/links" routerLinkActive="active-link">Links</a>
  <a mat-menu-item routerLink="/admin/linkcategories" routerLinkActive="active-link">Link categories</a>
  <h3>Infopages</h3>
  <a mat-menu-item routerLink="/admin/infopages" routerLinkActive="active-link">Infopages</a>
  <a mat-menu-item routerLink="/admin/infopagecategories" routerLinkActive="active-link">Infopage categories</a>
  <a mat-menu-item routerLink="/admin/infopagetags" routerLinkActive="active-link">Infopage tags</a>

</nav>
